ENVIRONMENT=staging
API_ENV_FILE=./.env.staging

POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<db_name>

DATAENGINE_DATABASE_URL=postgresql://<user>:<password>@<dataengine_host>:<port>/<db_name>

GEOSERVER_URL=https://<domain>/geoserver/
GEOSERVER_USER=<user>
GEOSERVER_PASSWORD=<password>

ACERVO_ENDPOINT=<acervo_host>:<port>
ACERVO_PUBLIC_ENDPOINT=/acervo
ACERVO_USE_SSL=false
ACERVO_VERIFY_SSL=true

ACERVO_PORTAL_ACCESS_KEY=portal-user
ACERVO_PORTAL_SECRET_KEY=
ACERVO_MAPALAB_ACCESS_KEY=mapalab-user
ACERVO_MAPALAB_SECRET_KEY=
ACERVO_MARIACHI_ACCESS_KEY=mariachi-user
ACERVO_MARIACHI_SECRET_KEY=
ACERVO_SIEEJ_ACCESS_KEY=sieej-user
ACERVO_SIEEJ_SECRET_KEY=
ACERVO_IIEG_ACCESS_KEY=iieg-user
ACERVO_IIEG_SECRET_KEY=

SECRET_KEY=<genera_con_secrets.token_urlsafe(32)>
CSRF_SECRET_KEY=<genera_con_secrets.token_urlsafe(32)>

CORS_ORIGINS=["https://<domain>"]

ADMIN_USERNAME=<admin_username>
ADMIN_PASSWORD=<admin_password>
ADMIN_EMAIL=<admin_email>

MAPALAB_BACKEND_URL=http://<mapalab_backend_host>:<port>
MAPALAB_INTERNAL_TOKEN=

SIEEJ_URL=
SIEEJ_ONTOY_URL=
DATAENGINE_ONTOY_URL=
ACERVO_ONTOY_URL=
GATEWAY_HUB_ONTOY_URL=
HUACHICOL_ONTOY_URL=
GEOSERVER_ONTOY_URL=

VITE_WEB_URL=https://<domain>

VITE_SENTRY_DSN=
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
